@font-face {
  font-family: Lato;
  src: url(./assets/fonts/Lato-Bold.ttf);
  src: url(./assets/fonts/Lato-Black.ttf);
  src: url(./assets/fonts/Lato-Regular.ttf);
  src: url(./assets/fonts/Lato-Light.ttf); 
 }
 @font-face {
  font-family: Lato-Black;
  src: url(./assets/fonts/Lato-Black.ttf);
 }

body {
  width: 1020px;
  margin: 0 auto;
}
.wrapper{
  width: 92.2%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* header */
.header {
  width: 100%;
  height: 95px;
  background-color:#2d303a;
  box-shadow: inset 0px -6px 0px 0px #323746;
}
.logo {
  display: flex;
  height: 95px;
  align-items: center;
}
.logo--link {
  text-decoration: none;
  margin-top: 1px;
}
.logo--name {
  font-size: 25px;
  line-height: 6px;
  color: #ffffff;
  font-family: "Lato";
  font-weight: 700;
  text-align: left;
  letter-spacing: -0.15px;
}
.logo--star {
  font-size: 25px;
  line-height: 6px;
  color: #c9605c;
  font-family: "Lato";
  font-weight: 700;
  text-align: left;
}
.navigation_menu {
  height: 95px;
  display: flex;
  width: 372px;
  align-items: center;
  justify-content: space-between;
}
.navigation_menu--item {
  margin-top: 2px;
}
.navigation_menu--link {
  text-decoration: none;
  font-size: 12px;
  line-height: 6px;
  color: #ffffff;
  font-family: "Lato";
  font-weight: 700;
  text-align: left;
}
.navigation_menu--item:not(:last-child)::after {
  content: ".";
  position: relative;
  bottom: 3px;
  left: 13px;
  font-weight: 700;
  font-size: 19px;
  font-family: "Lato";
  color: #494e62;
}
.navigation_menu--item:last-child {
  position: relative;
  top: 0px;
}
.navigation_menu--item {
  position: relative;
  bottom: 2px;
}
.navigation_menu--link:hover {
  color: #f06c64;
}
.header_border {
  height: 6px;
  background-color: #323746;
}

/* main */

.slider {
  height: 600px;
  width: 100%;
  background-color:#f06c64;
  box-shadow: inset 0px -6px 0px 0px #ea676b;
  display: flex;
  align-items: center;
}
.slider--image-vertical {
  cursor: pointer;
  width: 240px;
  height: 483px;
  margin-bottom: 10px;
}
.slider--image-horizontal {
  cursor: pointer;
  width: 483px;
  height: 240px;
  margin-bottom: 11px;
  margin-left: 19px;
}
.slider--left {
  background: url('./assets/images/left.svg') no-repeat top;
  border: none;
  width: 16px;
  height: 27px;
  margin-bottom: 10px;
  margin-left: 2px;
  cursor: pointer;
}
.slider--left:hover {
  opacity: 0.8;
}
.slider--left:active {
  opacity: 0.5;
}
.slider--right {
  background: url('./assets/images/right.svg') no-repeat top;
  border: none;
  width: 16px;
  height: 27px;
  margin-bottom: 10px;
  margin-left: 2px;
  cursor: pointer;
}
.slider--right:hover {
  opacity: 0.8;
}
.slider--right:active {
  opacity: 0.5;
}
.slider_border {
  height: 6px;
  background-color: #ea676b;
}
.services {
  height: 502px;
  width: 100%;
  background-color:#f2f2f2;
  box-shadow: inset 0px -8px 0px 0px #ffffff;
  display: flex;
  flex-direction: column;
}
.wrapper_column {
  display: flex;
  flex-direction: column;
  width: 92.2%;
  margin: 0 auto;
  justify-content: space-between;
}
.services--name {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato-Black";
  font-weight: 900;
  text-align: left;
  margin-top: 69px;
}
.services--description {
  width: 939px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  margin-top: 27px;
  text-align: justify;
  word-spacing: -1.4px;
}
.services_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}
.services_list--item {
  display: flex;
  margin-top: -34px;
}
.services_list--icon {
  margin-right: 26px;
  margin-left: 0px;
  margin-bottom: 92px;
  cursor: pointer;
}
.services_list--info {
  display: flex;
  flex-direction: column;
  margin-top: 2px;
  margin-left: -7px;
  margin-right: 1px;
}
.services_list--link {
  text-decoration: none;
  margin-left: -1px
}
.services_list--name {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato-Black";
  font-weight: 900;
  text-align: left;
}
.services_list--name:hover {
  opacity: 0.7;
}
.services_list--description {
  width: 219px;
  height: 128px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  margin-top: 10px;
  text-align: justify;
  text-overflow: clip;
}