@font-face {
  font-family: Lato;
  src: url(./assets/fonts/Lato-Bold.ttf);
  src: url(./assets/fonts/Lato-Black.ttf);
  src: url(./assets/fonts/Lato-Regular.ttf);
  src: url(./assets/fonts/Lato-Light.ttf); 
 }
 @font-face {
  font-family: Lato-Black;
  src: url(./assets/fonts/Lato-Black.ttf);
 }

body {
  width: 1020px;
  margin: 0 auto;
}
.wrapper{
  width: 92.2%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper_column {
  display: flex;
  flex-direction: column;
  width: 92.2%;
  margin: 0 auto;
  justify-content: space-between;
}

/* main */

.portfolio {
  height: 870px;
  background-color: #2d303a;
  box-shadow: inset 0px -6px 0px 0px #323746;
}
.portfolio--name {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato-Black";
  font-weight: 900;
  text-align: left;
  margin-top: 69px;
  letter-spacing: 0.17px;
}
.portfolio--description {
  width: 940px;
  height: 40px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  text-align: justify;
  margin-top: 28px;
  letter-spacing: 0.3px;
  word-spacing: -3.2px;
}
.search_tools {
  display: flex;
  
}
.search_tools--item {
  border-radius: 5px;
  border: 1px solid #666d89;
  font-size: 12px;
  line-height: 20px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: justify;
  padding: 0px 7px 0px 7px;
  margin-right: 10px;
  background-color: transparent;
  word-spacing: -0.8px;
  cursor: pointer;
  outline: none;
}
.search_tools--item:hover, .search_tools--item:focus {
  border: 1px solid #dedede;
  color: #dedede;
  transition: 0.5s;
  outline: none;
}
.project {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 604px;
  overflow: hidden;
  margin-top: 19px;
}
.project--item {
  margin-bottom: 16px;
  cursor: pointer;
}
.project--image {
  width: 220px;
  height: 187px;
  object-fit: none;
}
.project--image:hover {
  opacity: 0.7;
}
.about_us {
  height: 734px;
  background-color: #f2f2f2;
  box-shadow: inset 0px -6px 0px 0px #ffffff;
}
.about_us--name {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato-Black";
  font-weight: 900;
  text-align: left;
  margin-top: 69px;
  letter-spacing: 0.1px;
  word-spacing: -1.5px;
}
.about_us--description {
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  text-align: justify;
  margin-top: 27px;
  letter-spacing: -0.15px;
  word-spacing: -0.4px;
}
.employees {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 47px;
}
.employees--avatar {
}
.employees--name {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato-Black";
  font-weight: 900;
  text-align: left;
  margin-top: 14px;
  height: 18px;
  overflow: hidden;
 
}
.employees--description {
  width: 300px;
  height: 64px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: justify;
  margin-top: 10px;
}
.facebook {
  background-image: url(./assets/images/facebook.svg);
  width: 34px;
  height: 34px;
  display: inline-block;
  margin-right: 2px;
}
.google {
  background-image: url(./assets/images/google.svg);
  width: 34px;
  height: 34px;
  display: inline-block;
  margin-right: 2px;
}
.twitter {
  background-image: url(./assets/images/twitter.svg);
  width: 34px;
  height: 34px;
  display: inline-block;
  margin-right: 2px;
}
.linkedin {
  background-image: url(./assets/images/linkedin.svg);
  width: 34px;
  height: 34px;
  display: inline-block;
  margin-right: 2px;
}
.linkedin:hover, .facebook:hover, .google:hover, .twitter:hover {
  opacity: 0.5;
}