@font-face {
  font-family: Lato;
  src: url(./assets/fonts/Lato-Bold.ttf);
  src: url(./assets/fonts/Lato-Black.ttf);
  src: url(./assets/fonts/Lato-Regular.ttf);
  src: url(./assets/fonts/Lato-Light.ttf); 
 }
 @font-face {
  font-family: Lato-Black;
  src: url(./assets/fonts/Lato-Black.ttf);
 }

body {
  width: 1020px;
  margin: 0 auto;
}
.wrapper{
  width: 92.2%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper_column {
  display: flex;
  flex-direction: column;
  width: 92.2%;
  margin: 0 auto;
  justify-content: space-between;
}

/* main */
.quote {
  height: 654px;
  background-color: #f06c64;
  box-shadow: inset 0px -6px 0px 0px #ea676b;
}
.quote--name {
  font-size: 30px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato-Black";
  font-weight: 900;
  text-align: left;
  margin-top: 68px;
  letter-spacing: -0.1px;
  word-spacing: -0.5px;
}
.quote--description {
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 300;
  text-align: justify;
  margin-top: 28px;
  word-spacing: -1.4px;
}
.quote--contact {
  display: flex;
  margin-top: 46px;
}
.form--text {
  width: 604px;
  height: 38px;
  border: none;
  border-radius: 5px;
  background-color: #d6564f;
  font-size: 12px;
  line-height: 22px;
  margin-bottom: 16px;
  padding-left: 15px;
}
.form--text::placeholder {
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  margin-left: 10px;
}
.form--textarea {
  width: 604px;
  height: 195px;
  border: none;
  border-radius: 5px;
  background-color: #d6564f;
  margin-bottom: 16px;
  resize: none;
  padding-top: 7px;
  padding-left: 15px;
}
.form--textarea::placeholder {
  color: #f48c8f;
  font-size: 12px;
  line-height: 22px;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
}
.form--button {
  height: 38px;
  border: none;
  border-radius: 5px;
  background-color: #d6564f;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato";
  font-weight: 400;
  text-align: center;
  width: 75px;
  cursor: pointer;
}
.form--button:hover, .form--textarea:hover, .form--text:hover {
  background-color: #b12a23;
  transition: 0.5s;
}
.form--button:focus, .form--textarea:focus, .form--text:focus {
  background-color: white;
}
.contact--name {
  font-size: 18px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  letter-spacing: 0.6px;
  word-spacing: -1.2px;

}
.contact--description {
  width: 300px;
  font-size: 12px;
  line-height: 23px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: justify;
  margin-top: 10px;
}
.contact--list {
  margin-top: 20px;
}
.contact--item {
  position: relative;
  width: 200px;
  font-size: 12px;
  text-decoration: none;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  margin-left: 23px;
  letter-spacing: -0.1px;
  cursor: pointer;
} 
.contact--item:nth-child(2)::before {
  content: url(./assets/images/phone.png);
  display: block;
  position: absolute;
  left: -22px;
  cursor: pointer;
}
.contact--item:nth-child(3)::before {
  content: url(./assets/images/mail.png);
  display: block;
  position: absolute;
  left: -23px;
  cursor: pointer;
}
.contact--item:first-child::before {
  content: url(./assets/images/location.png);
  display: block;
  position: absolute;
  left: -20px;
  top: 1px;
  cursor: pointer;
}
.contact--tel {
  text-decoration: none;
  color: #f0d8d9;
  height: 175px;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  letter-spacing: -0.2px;
  cursor: pointer;
}
.contact--mail {
  text-decoration: none;
  color: #f0d8d9;
  height: 175px;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.1px;
  cursor: pointer;
}

/* footer */
.footer {
  height: 76px;
  background-color: #2d303a;
}
.copyright {
  margin-top: 15px;
  color: #666d89;
  font-size: 12px;
  font-family: "Lato";
  cursor: pointer;
}
.footer--links {
  margin-top: 22px;
    margin-right: -2px;
}
.facebook {
  background: url(./assets/images/facebookfoo.png) no-repeat top;
  width: 34px;
  height: 34px;
  display: inline-block;
  margin-right: 2px;
}
.google {
  background: url(./assets/images/googlefoo.png) no-repeat top;
  width: 34px;
  height: 34px;
  display: inline-block;
  margin-right: 2px;
}
.twitter {
  background: url(./assets/images/twitterfoo.png) no-repeat top;
  width: 34px;
  height: 34px;
  display: inline-block;
  margin-right: 2px;
}
.linkedin {
  background: url(./assets/images/linkedinfoo.png) no-repeat top;
  width: 34px;
  height: 34px;
  display: inline-block;
  margin-right: 2px;
}
.linkedin:hover, .facebook:hover, .google:hover, .twitter:hover {
  opacity: 0.5;
}