@font-face {
  font-family: Lato;
  src: url(./assets/fonts/Lato-Bold.ttf);
  src: url(./assets/fonts/Lato-Black.ttf);
  src: url(./assets/fonts/Lato-Regular.ttf);
  src: url(./assets/fonts/Lato-Light.ttf); 
 }
 @font-face {
  font-family: Lato-Black;
  src: url(./assets/fonts/Lato-Black.ttf);
 }
* {
  margin: 0;
  padding: 0;
}
body {
  width: 1020px;
  margin: 0 auto;
}
.wrapper{
  width: 92.2%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper-header{
  width: 92.2%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#home-anc,
#services-anc,
#portfolio-anc,
#about_us-anc,
#quote-anc {
  position: absolute; 
  top: -94px;
}
section {
  position: relative;
}
/* header */
.header {
  position: sticky;
  top: 0px;
  left: calc(50% - 510px);
  z-index: 3;
  width: 100%;
  height: 95px;
  background-color:#2d303a;
  box-shadow: inset 0px -6px 0px 0px #323746;
}
.logo {
  display: flex;
  height: 95px;
  align-items: center;
}
.logo--link {
  text-decoration: none;
}
.logo--name {
  font-size: 25px;
  line-height: 6px;
  color: #ffffff;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 700;
  text-align: left;
  letter-spacing: -0.15px;
}
.logo--star {
  font-size: 25px;
  line-height: 6px;
  color: #c9605c;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 700;
  text-align: left;
}
.navigation_menu {
  height: 23px;
  display: flex;
  width: 372px;
  align-items: center;
  justify-content: space-between;
}
.burger_menu {
  position: fixed;
  top: 0px;
  left: 0px;
  transition-duration: 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  width: 278px;
  height: 100vh;
  background: #2D303A;
  box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
  z-index: 10;
  display: none;
}
.navigation_menu--item {
  list-style: none;
  margin-top: 2px;
}
.navigation_menu--link {
  text-decoration: none;
  font-size: 12px;
  line-height: 6px;
  color: #ffffff;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 700;
  text-align: left;
  padding-top: 6px;
}

.navigation_menu--item:not(:last-child)::after {
  content: ".";
  position: relative;
  bottom: 3px;
  left: 13px;
  font-weight: 700;
  font-size: 19px;
  font-family: "Lato", Verdana, sans-serif;
  color: #494e62;
}
.navigation_menu--item:last-child {
  position: relative;
  top: -2px;
}
.navigation_menu--item {
  position: relative;
  bottom: 2px;
  display: flex;
  align-items: center;
}
.navigation_menu--link.active {
  color: #f06c64;
  
}
.navigation_menu--link:hover {
  color: #d16c67;
  transition: 0.5s;
}
.header_border {
  height: 6px;
  background-color: #323746;
} 
.burger-button {
  display: none;
  background: url('./assets/images/Burger-menu-icon.svg') no-repeat top;
  border: none;
  width: 25px;
  height: 20px;
  cursor: pointer;
  z-index: 10;
}

/* main */

.home {
  height: 600px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.slide  {
  height: 600px;
  width: 100%;
  background-color:#f06c64;
  box-shadow: inset 0px -6px 0px 0px #ea676b;
  display: flex;
  align-items: center;
  display: none;
  position: relative;
  animation: 0.5s ease-in-out;
  margin: 0 auto;
}
.slide-wrapper {
  justify-content: center;
}
.iphone--vertical-shadow {
  position: absolute;
  top: 52px;
  left: 112px;
}
.iphone--horizontal-shadow {
  position: absolute;
  top: 174px;
  right: 111px;
}
.iphone--vertical {
  position: absolute;
  top: 53px;
  left: 111px;
  cursor: pointer;
}
.iphone--horizontal {
  position: absolute;
  top: 174px;
  right: 137px;
  cursor: pointer;
}
.iphone--vertical-display {
  position: absolute;
  top: 118px;
  left: 125.2px;
  cursor: pointer;
}
.iphone--horizontal-display {
  position: absolute;
  top: 188px;
  right: 202px;
  cursor: pointer;
}
.iphone--left {
  position: relative;
  margin-top: 63px;
  left: 26px;
}
.iphone--center {
  position: relative;
  margin-top: 43px;
  z-index: 2;
}
.iphone--right {
  position: relative;
    margin-top: 63px;
    right: 26px;
    z-index: 1;
}
.active,
.next {
display: block;
}
.next {
position: absolute;
top: 0;
width: 100%;
}
.slider--left {
  position: absolute;
  top: 280px;
  left: 40px;
}
.slider--right {
  position: absolute;
  top: 280px;
  right: 40px;
}
.to-left {
  animation-name: left;
}
.from-right {
  animation-name: right;
}
.to-right {
  animation-name: right;
  animation-direction: reverse;
}
.from-left {
  animation-name: left;
  animation-direction: reverse;
}
@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
.second {
  height: 600px;
  width: 100%;
  background-color:#648BF0;
  box-shadow: inset 0px -6px 0px 0px white;
}
.slider--left {
  background: url('./assets/images/left.svg') no-repeat top;
  border: none;
  width: 16px;
  height: 27px;
  margin-bottom: 10px;
  margin-left: 2px;
  cursor: pointer;
}
.slider--left:hover {
  opacity: 0.8;
}
.slider--left:active {
  opacity: 0.5;
}
.slider--right {
  background: url('./assets/images/right.svg') no-repeat top;
  border: none;
  width: 16px;
  height: 27px;
  margin-bottom: 10px;
  margin-left: 2px;
  cursor: pointer;
}
.slider--right:hover {
  opacity: 0.8;
}
.slider--right:active {
  opacity: 0.5;
}
.slider_border {
  height: 6px;
  background-color: #ea676b;
}
.services {
  background-clip: padding-box;
  border-top: 95px solid transparent;
	margin-top: -95px;
  width: 100%;
  background-color: #f2f2f2;
  box-shadow: inset 0px -6px 0px 0px #ffffff;
  display: flex;
  flex-direction: column;
}
.wrapper_column {
  display: flex;
  flex-direction: column;
  width: 92.2%;
  margin: 0 auto;
  justify-content: space-between;
}
.wrapper_four {
  display: flex;
  flex-direction: column;
  width: 93.2%;
  margin: 0 auto;
  justify-content: space-between;
}
.services--name {
  font-size: 30px;
  line-height: 35px;
  color: #666d89;
  font-family: "Lato-Black", Verdana, sans-serif;
  font-weight: 900;
  text-align: left;
  margin-top: 59px;
}
.services--description {
  width: 939px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 300;
  margin-top: 20px;
  text-align: justify;
  word-spacing: -1.4px;
}
.services_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 19px;
  margin-bottom: 64px;
}
.services_list--item {
  display: flex;
  list-style: none;
  margin-top: 26px;
}
.services_list--icon {
  margin-right: 26px;
  margin-left: 0px;
  margin-bottom: 33px;
  cursor: pointer;
  margin-top: 2px
}
.services_list--info {
  display: flex;
  flex-direction: column;
  margin-top: 2px;
  margin-left: -7px;
  margin-right: 1px;
}
.services_list--link {
  text-decoration: none;
  margin-left: -1px
}
.services_list--name {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato-Black", Verdana, sans-serif;
  font-weight: 900;
  text-align: left;
}
.services_list--name:hover {
  opacity: 0.7;
}
.services_list--description {
  width: 219px;
  height: 66px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 400;
  margin-top: 10px;
  text-align: justify;
  text-overflow: clip;
  overflow: hidden;
}
.portfolio {
  background-clip: padding-box;
  border-top: 95px solid transparent;
	margin-top: -95px;
  height: 870px;
  background-color: #2d303a;
  box-shadow: inset 0px -6px 0px 0px #323746;
}
.portfolio--name {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato-Black", Verdana, sans-serif;
  font-weight: 900;
  text-align: left;
  margin-top: 69px;
  letter-spacing: 0.17px;
}
.portfolio--description {
  width: 940px;
  height: 40px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 300;
  text-align: justify;
  margin-top: 28px;
  letter-spacing: 0.3px;
  word-spacing: -3.2px;
}
.search_tools {
  display: flex;
  flex-wrap: wrap;
}
.search_tools--item {
  list-style: none;
  border-radius: 5px;
  border: 1px solid #666d89;
  font-size: 12px;
  line-height: 20px;
  color: #767e9e;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 400;
  text-align: justify;
  padding: 0px 7px 0px 7px;
  margin-right: 10px;
  background-color: transparent;
  word-spacing: -0.8px;
  cursor: pointer;
  outline: none;
}
.search_tools--item:hover {
  border: 1px solid #dedede;
  color: #dedede;
  transition: 0.5s;
  outline: none;
}
.activeTag {
  border: 1px solid #dedede;
  color: #dedede;
  outline: none;
}
.project {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 604px;
  margin-top: 19px;
}
.project--item {
  list-style: none;
  margin-right: 20px;
  margin-bottom: 18px;
  cursor: pointer;
}
.project--item:nth-child(4n) {
  margin-right: 0px;
}
.project--image {
  width: 220px;
  height: 187px;
  object-fit: none;
}
.project--image:hover {
  opacity: 0.7;
}
.change {
  animation-duration: 1s;
  animation-name: changing;
}
@keyframes changing {
  from {
    opacity: 1;
  }
   50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



.about_us {
  background-clip: padding-box;
  border-top: 95px solid transparent;
	margin-top: -95px;
  height: 733px;
  background-color: #f2f2f2;
  box-shadow: inset 0px -6px 0px 0px #ffffff;
}
.about_us--name {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato-Black", Verdana, sans-serif;
  font-weight: 900;
  text-align: left;
  margin-top: 69px;
  letter-spacing: 0.1px;
  word-spacing: -1.5px;
}
.about_us--description {
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 300;
  text-align: justify;
  margin-top: 27px;
  letter-spacing: -0.15px;
  word-spacing: -0.4px;
}
.employees {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 47px;
  list-style: none;
}

.employees--name {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato-Black", Verdana, sans-serif;
  font-weight: 900;
  text-align: left;
  margin-top: 14px;
  height: 18px;
  overflow: hidden;
 
}
.employees--description {
  width: 300px;
  height: 64px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 400;
  text-align: justify;
  margin-top: 9px;
}
.facebook {
  background-image: url("./assets/images/facebook.svg");
  width: 34px;
  height: 34px;
  display: inline-block;
  margin-right: 2px;
  margin-top: 2px;
}
.google {
  background-image: url(./assets/images/google.svg);
  width: 34px;
  height: 34px;
  display: inline-block;
  margin-right: 2px;
  margin-top: 2px;
}
.twitter {
  background-image: url(./assets/images/twitter.svg);
  width: 34px;
  height: 34px;
  display: inline-block;
  margin-right: 2px;
  margin-top: 2px;
}
.linkedin {
  background-image: url(./assets/images/linkedin.svg);
  width: 34px;
  height: 34px;
  display: inline-block;
  margin-right: 2px;
  margin-top: 2px;
}
.linkedin:hover, .facebook:hover, .google:hover, .twitter:hover {
  opacity: 0.5;
}
.quote {
  background-clip: padding-box;
  border-top: 95px solid transparent;
	margin-top: -95px;
  height: auto;
  padding-bottom: 64px;
  background-color: #f06c64;
  box-shadow: inset 0px -6px 0px 0px #ea676b;
}
.quote--name {
  font-size: 30px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato-Black", Verdana, sans-serif;
  font-weight: 900;
  text-align: left;
  margin-top: 69px;
  letter-spacing: -0.1px;
  word-spacing: -0.5px;
}
.quote--description {
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 300;
  text-align: justify;
  margin-top: 28px;
  word-spacing: -1.4px;
}
.quote--contact {
  display: flex;
  margin-top: 46px;
}
.form--text {
  width: 604px;
  height: 38px;
  border: none;
  border-radius: 5px;
  background-color: #d6564f;
  font-size: 12px;
  line-height: 22px;
  margin-bottom: 16px;
  padding-left: 15px;
}
.form--text::placeholder {
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 400;
  text-align: left;
  margin-left: 10px;
  letter-spacing: 0.1px;
}
.form--textarea {
  width: 604px;
  height: 195px;
  border: none;
  border-radius: 5px;
  background-color: #d6564f;
  margin-bottom: 16px;
  resize: none;
  padding-top: 7px;
  padding-left: 15px;
}
.form--textarea::placeholder {
  color: #f48c8f;
  font-size: 12px;
  line-height: 22px;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.1px;
}
.form--button {
  height: 38px;
  border: none;
  border-radius: 5px;
  background-color: #d6564f;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 400;
  text-align: center;
  width: 75px;
  cursor: pointer;
}
.form--button:hover, .form--textarea:hover, .form--text:hover {
  background-color: #b12a23;
  transition: 0.5s;
}
.form--button:focus, .form--textarea:focus, .form--text:focus {
  background-color: white;
}
.contact--name {
  font-size: 18px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 900;
  text-align: left;
  letter-spacing: 0.6px;
  word-spacing: -1.2px;

}
.contact--description {
  width: 300px;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 400;
  text-align: justify;
  margin-top: 10px;
}
.contact--list {
  margin-top: 21px;
}
.contact--item {
  list-style: none;
  position: relative;
  width: 200px;
  font-size: 12px;
  text-decoration: none;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 400;
  text-align: left;
  margin-left: 23px;
  letter-spacing: -0.1px;
  cursor: pointer;
} 
.contact--item:nth-child(2)::before {
  content: url(./assets/images/phone.png);
  display: block;
  position: absolute;
  left: -22px;
  cursor: pointer;
}
.contact--item:nth-child(3)::before {
  content: url(./assets/images/mail.png);
  display: block;
  position: absolute;
  left: -23px;
  cursor: pointer;
}
.contact--item:first-child::before {
  content: url(./assets/images/location.png);
  display: block;
  position: absolute;
  left: -20px;
  top: 1px;
  cursor: pointer;
}
.contact--tel {
  text-decoration: none;
  color: #f0d8d9;
  height: 175px;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 400;
  text-align: left;
  letter-spacing: -0.2px;
  cursor: pointer;
}
.contact--mail {
  text-decoration: none;
  color: #f0d8d9;
  height: 175px;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.1px;
  cursor: pointer;
}

/* footer */
.footer {
  height: 76px;
  background-color: #2d303a;
}
.copyright {
  margin-top: 15px;
  color: #666d89;
  font-size: 12px;
  font-family: "Lato", Verdana, sans-serif;
  cursor: pointer;
  word-spacing: -0.8px;
}
.footer--links {
  margin-top: 20px;
    margin-right: -2px;
}
.facebook {
  background: url(./assets/images/facebookfoo.png) no-repeat top;
  width: 34px;
  height: 34px;
  display: inline-block;
  margin-right: 2px;
}
.google {
  background: url(./assets/images/googlefoo.png) no-repeat top;
  width: 34px;
  height: 34px;
  display: inline-block;
  margin-right: 2px;
}
.twitter {
  background: url(./assets/images/twitterfoo.png) no-repeat top;
  width: 34px;
  height: 34px;
  display: inline-block;
  margin-right: 2px;
}
.linkedin {
  background: url(./assets/images/linkedinfoo.png) no-repeat top;
  width: 34px;
  height: 34px;
  display: inline-block;
  margin-right: 2px;
}
.linkedin:hover, .facebook:hover, .google:hover, .twitter:hover {
  opacity: 0.5;
}

.shadow {
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  width: 100vw;
  height: 100vh;
  background: #2D303A;
  opacity: 0.6;
  z-index: 4;
}
.alert {
  position: fixed;
  top: calc(50% - 100px);
  left: calc(50% - 150px);
  width: 300px;
  height: 200px;
  background-color: #240303;
  border: 3px solid #a15353;
  border-radius: 5px;
  z-index: 100;
}
.alert--name {
  color: #cea8aa;
  font-size: 20px;
  text-align: center;
  width: 100%;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 900;
}
.alert--item {
  color: #cea8aa;
  font-size: 14px;
  width: 90%;
  line-height: 20px;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.1px;
  overflow: hidden;
  margin: 10px;
  word-break: break-all;
}
.alert--list {
  margin: 9px 20px 0px 20px;
}
#ok {
  position: relative;
  left: calc(50% - 30px);
}
.textarea {
  height: 75px;
}
.burger_shadow {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: #2D303A;
  opacity: 0.6;
  z-index: 5;
  display: none;
}

@media(max-width: 1019px) {
  body {
    width: 100%;
  }
  .wrapper{
    width: calc(100% - 80px);
  }
  .wrapper-header{
    width: calc(100% - 80px);
  }
  .wrapper_column {
    width: calc(100% - 80px);
  }
  .header {
    width: 100%;
    height: 95px;
  }
  .burger_menu {
    display: none;
  }
  
  .home {
    height: 58.8vw;
    width: 100%;
  }
  .slide  {
    height: 58.8vw;
    width: 100%;
  }
  .slide-wrapper {
    justify-content: center;
  }
  .iphone--vertical-shadow {
    width: 23.53vw;
    height: 47.35vw;
    top: 5.1vw;
    left: 10.98vw;
  }
  .iphone--horizontal-shadow {
    width: 47.35vw;
    height: 23.53vw;
    top: 17.06vw;
    right: 10.88vw;
  }
  .iphone--vertical {
    width: 21.18vw;
    height: 44.9vw;
    top: 5.19vw;
    left: 10.88vw;
  }
  .iphone--horizontal {
    width: 44.9vw;
    height: 21.18vw;
    top: 17.06vw;
    right: 13.43vw;
  }
  .iphone--vertical-display {
    width: 18.43vw;
    height: 32.65vw;;
    top: 11.57vw;
    left: 12.27vw;
  }
  .iphone--horizontal-display {
    width: 32.65vw;
    height: 18.43vw;
    top: 18.43vw;
    right: 19.8vw;
  }
  .iphone--left {
    width: 15.39vw;
    height: 30.78vw;
    margin-top: 6.18vw;
    left: 2.55vw;
  }
  .iphone--center {
    width: 25vw;
    height: 50.29vw;
    margin-top: 4.22vw;
  }
  .iphone--right {
    width: 15.39vw;
    height: 30.78vw;
    margin-top: 6.18vw;
    right:  2.55vw;
  }
  .slider--left {
    top: 27.45vw;
    left: 3.92vw;
  }
  .slider--right {
    top: 27.45vw;
    right: 3.92vw;
  }
  .services {
    height: auto;
    width: 100%;
  }
  .services--name {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-Black";
    font-weight: 900;
    text-align: left;
    margin-top: 6.76vw;
  }
  .services--description {
    width: 100%;
  }
  .portfolio {
    background-clip: padding-box;
    border-top: 95px solid transparent;
    margin-top: -95px;
    height: auto;
    background-color: #2d303a;
    box-shadow: inset 0px -6px 0px 0px #323746;
  }
  .portfolio--name {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-Black";
    font-weight: 900;
    text-align: left;
    margin-top: 69px;
    letter-spacing: 0.17px;
  }
  .portfolio--description {
    width: 100%;
    height: auto;
  }
  .search_tools {
    margin-top: 10px;
  }
  .project {
    height: auto;
    margin-top: 19px;
    padding-bottom: 53px;
  }
  .project--item {
    list-style: none;
    margin-right: 20px;
    margin-bottom: 18px;
    cursor: pointer;
    flex: 1 0 25%;
  }
  .project--item:nth-child(4n) {
    margin-right: 20px;
}
  .project--item:nth-child(3n) {
    margin-right: 0px;
}
  .project--image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .about_us {
    height: auto;
  }
  .about_us--description {
    width: 100%;
    height: auto;
  }
  .employees {
    margin-top: 47px;
  }
  .employee {
    width: 30.93465206640763%;
    height: auto;
    padding-bottom: 75px;
  }
  .employees--avatar{
    width: 100%;
  }
  .employees--description {
    width: 100%;
    height: auto;
    margin-top: 9px;
    padding-bottom: 10px;
  }
  .quote {
    height: auto;
    padding-bottom: 45px;
  }
  .quote--description {
    width: 100%;
    height: auto;
  }
  .quote--contact {
    display: flex;
    margin-top: 46px;
  }
  .form {
    width: 57.6vw;
    margin-right: 29px;
  }
  .form--text {
    width: 100%;
    height: 38px;
    border: none;
    border-radius: 5px;
    background-color: #d6564f;
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 16px;
    padding-left: 15px;
  }
  .form--textarea {
    width: 100%;
    height: 195px;
    border: none;
    border-radius: 5px;
    background-color: #d6564f;
    margin-bottom: 16px;
    resize: none;
    padding-top: 7px;
    padding-left: 15px;
  }
  .form--button {
    height: 38px;
  }
  .contact {
    width: 29.1vw;
  }
  .contact--description {
    width: 100%;
    margin-top: 10px;
  }
  .contact--list {
    margin-top: 21px;
  }
  .contact--item {
    list-style: none;
    position: relative;
    width: 200px;
    font-size: 12px;
    text-decoration: none;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    margin-left: 23px;
    letter-spacing: -0.1px;
    cursor: pointer;
  } 
  
}

@media(max-width: 767px) {
  .wrapper-header{
    width: calc(100% - 40px);
    justify-content: center;
    position: relative;
  }
  .wrapper_column {
    width: calc(100% - 60px);
  }
  #home-anc,
#services-anc,
#portfolio-anc,
#about_us-anc,
#quote-anc {
  position: absolute; 
  top: -71px;
}
  .header {
    width: 100%;
    height: 71px;
  }
  .logo {
    display: flex;
    height: 71px;
    align-items: center;
  }
  .logo--name {
    font-size: 19.6875px;
    line-height: 24px;
  }
  .logo--star {
    font-size: 19.6875px;
    line-height: 24px;
  }
  .navigation_menu {
    display: none;
  }
  .navigation_menu--item {
    list-style: none;
    margin: 0px 71px;
    margin-top: 2px;
    
  }
  .navigation_menu--link {
    text-decoration: none;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.035em;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
    padding-top: 6px;
  }
  .navigation_menu--item:not(:last-child)::after {
    display: none;
  }
  .burger-button {
    display: block;
    position: absolute;
    top: 23px;
    left: 0px;
  }
  .burger_menu {
    display: flex;
  }
  .services_list {
    margin-bottom: 8.33vw;
  }
  .search_tools--item {
    margin-right: 9px;
  }
  .project {
    height: auto;
    margin-top: 19px;
    padding-bottom: 19px;
  }
  .project--item {
    margin-right: 13px;
    margin-bottom: 13px;
    flex: 1 0 35%;
  }
  .project--item:nth-child(3n) {
    margin-right: 13px;
  }
  .project--item:nth-child(4n) {
    margin-right: 13px;
  }
  .project--item:nth-child(2n) {
    margin-right: 0px;
  }
  .project--item:nth-child(n+9) {
    display: none;
  }
  .about_us {
    height: auto;
  }
  .about_us--description {
    width: 100%;
    height: auto;
  }
  .employees {
    flex-direction: column;
    margin-top: 27px;
    padding-bottom: 11px;
  }
  .employee {
    width: 100%;
    height: auto;
    padding-bottom: 34px;
  }
  .employees--description {
    width: 100%;
    height: auto;
    margin-top: 9px;
    padding-bottom: 10px;
  }
  
  .quote {
    height: auto;
    padding-bottom: 45px;
  }
  .quote--description {
    width: 100%;
    height: auto;
  }
  .quote--contact {
    flex-direction: column;
  }
  .form {
    width: 100%;
    margin-right: 0px;
  }
  .form--text {
    width: calc(100% - 15px);
  }
  .form--textarea {
    width: calc(100% - 15px);
  }
  .form--button {
    width: 100%;
    height: 38px;
  }
  .ok {
    width: 75px;
  }
  .contact {
    width: 100%;
  }
  .contact--name {
    margin-top: 32px;
  }
  .contact--description {
    width: 100%;
    margin-top: 10px;
  }
  .copyright {
    display: none;
  }
  .wrapper {
    justify-content: center;
  }
  .alert {
    top: calc(50% - 100px);
    left: 0px;
    width: 100%;
  }
}

@media(max-width: 375px) {
  .header {
    width: 100%;
    height: 71px;
  }
  .services_list--description {
    width: 100%;
    height: auto;
  }
}